
@import url('https://fonts.google.com/share?selection.family=Mulish:wght@200;300;400;800;900&display=swap');



:root{
    --container-width:70%;
    --color-primary:#21DADB;
    --color-primary-rgb:152,89,227;
    --color-primary-accent:#21DADB;
    --color-secondary:#35BBDF;
    --color-secondary--accent:#4D94E6;
    --color-white:#ffffff;
    --color-black:#000000;
    --color-grey:#8491a5;
    --color-grey-rgb:132,145,165;
    --primary-linear-gradient:linear-gradient(90deg,
    #21DADB,0%,
    rgba(84,42,195,1)100%);
    --secondary-linear-gradient:linear-gradient(90deg,
    rgba(225,99,151,1)0%,
    rgba(254,126,169,1)100%);

    --body-font:'mulish',sans-serif;
}
    *{
        margin:0;
        padding:0;
        box-sizing:border-box;
        font-family: var(--body-font);
    }

    html{
        scroll-behavior: smooth;
        overflow-x: hidden;

    }

    a{
        text-decoration: none;

    }
    ul{

        list-style: none;

    }

    .container{
        width: --var(--container-width);
        margin:0 auto;
    }


    section {
        padding-top: 4rem;
        padding-bottom: 4rem;

    }


    .btn{
        display: block;
        padding: 10px 30px;
        margin: 20px 0 20px 0;
        cursor: pointer;
        border-radius: 50px;
        width: fit-content;
    }

    .btn-primary{
        background: var(--primary-linear-gradient);
        color: var(--color-white);

    }

    .btn-secondary{
        background: var(--secondary-linear-gradient);
        color: var(--color-white);

    }

    .tag{
        display: block;
        padding: 3px 15px;
        margin: 20px 0 20px 0 ;
        cursor: pointer;
        border-radius: 50px;
        width: fit-content;
        color: var(--color-white);
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 600;
    }

    header{
        background: var(--primary-linear-gradient);

    }

    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5rem;
        color: var(--color-white);

    }

.nav_logo{
    color: var(--color-secondary);
}
.nav_menu{
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: flex-end;
}
.nav__link{
    color: var(--color-white);

}
/* .mb-show{
    display:none;

} */
.show{
    right:0%;
}

.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.home__data, .home__image{
    flex: 50%;

}

.home__data-title {
    color: var(--color-white);
    font-size: 2.5rem;

}
.home__data-title span {
    font-weight: 200;

}

.home__data-desc{
    margin-top: 2rem;
    color: var(--color-white);
    line-height: 2;
}

.home__image img{
    width: 100%;
    height: auto;
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

}

.about__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
}

.about__image img{
max-width: 100%;
height: auto;
border-radius: 10px;
}
.about__tag {
    color: var(--color-primary);
    background-color: rgba(var(--color-primary-rgb),0.2);
}

.about__data-title{
    font-size: 2.5rem;
    font-weight: 200;
}

.about__data-desc{
    font-size: 0.8rem;
    padding: 10px 0 10px 0 ;
}

.about__data-quote{
    font-size:1.2rem;
    color: var(--color-grey);
    padding: 10px 0 10px 0;

}
.about__data-quote i {
    font-size: 2.5rem;
    color: --var(--color-secondary);
}

.whychooseus{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.whychooseus__tag span {
    color:var(--color-primary);
    background-color: rgba(var(--color-primary-rgb),0.2);
    margin: 0 auto;
}

.whychooseus__title{
    font-size: 2.5rem;
    font-weight: 200;
    text-align: center;
    padding-top: 1rem;

}

.whychooseus__data{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.whychooseus__card{
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
    padding: 30px;
    text-align: center;
}

.whychooseus__card i {
    display:inline-block;
    font-size:3rem;
    padding: 15px;
    color: var(--color-primary);
}

.whychooseus__card-title{
    font-size: 1.5rem;
    font-weight: 300;
}

.whychooseus__card-des{
    font-size:0.8rem;
    padding: 10px 0px 10px 0px;
    color:var(--color-grey)
}
.services {
    background: var(--primary-linear-gradient);
}

.services__tag{
    background-color: rgba(255,255,255,0.2);
}
.services__title{
    font-size:2.5rem;
    font-weight: 200;
    color: var(--color-white);
}

.services__data{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.services__single{
    display: flex;
    gap: 1.5rem;
    padding: 5px;
    flex: 25%;
    align-items: center;
}
.services__single i {
font-size: 2rem;
color: var(--color-secondary);
}
.services-desc{
    font-size: 0.8rem;
    padding: 10px 0 10px 0px;
color: var(--color-white);
}
.services__buttons{
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
}

@media screen and (max-width: 1024px) {}