
@import url('https://fonts.google.com/share?selection.family=Mulish:wght@200;300;400;800;900&display=swap');



:root{
    --container-width:70%;
    --color-primary:#21DADB;
    --color-primary-rgb:152,89,227;
    --color-primary-accent:#21DADB;
    --color-secondary:#35BBDF;
    --color-secondary--accent:#4D94E6;
    --color-white:#ffffff;
    --color-black:#000000;
    --color-grey:#8491a5;
    --color-grey-rgb:132,145,165;
    --primary-linear-gradient:linear-gradient(90deg,
    #21DADB,0%,
    rgba(33,218,219,1)100%);
    --secondary-linear-gradient:linear-gradient(90deg,
    rgba(225,99,151,1)0%,
    rgba(254,126,169,1)100%);

    --body-font:'mulish',sans-serif;
}
    *{
        margin:0;
        padding:0;
        box-sizing:border-box;
        font-family: var(--body-font);
    }

    html{
        scroll-behavior: smooth;
        overflow-x: hidden;

    }

    a{
        text-decoration: none;

    }
    ul{

        list-style: none;

    }

    .container{
        width: --var(--container-width);
        margin:0 auto;
    }


    section {
        padding-top: 4rem;
        padding-bottom: 4rem;

    }


    .btn{
        display: block;
        padding: 10px 30px;
        margin: 20px 0 20px 0;
        cursor: pointer;
        border-radius: 50px;
        width: fit-content;

    }

    .btn-primary{
        background: var(--primary-linear-gradient);
        color: var(--color-white);
        display: block; 
        margin: 20px auto; 
        width: fit-content; 
    }

    .btn-secondary{
        background: var(--secondary-linear-gradient);
        color: var(--color-white);
        display: block; 
        margin: 20px auto; 
        width: fit-content; 
    }

    .tag{
        display: block;
        padding: 3px 15px;
        margin: 20px 0 20px 0 ;
        cursor: pointer;
        border-radius: 50px;
        width: fit-content;
        color: var(--color-white);
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 600;
    }

    header{
        background: var(--primary-linear-gradient);
        padding: 20px;
        border-bottom: 5px solid rgba(34, 85, 153, 1); 
        z-index: 100;
        position: relative;
    }

    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5rem;
        color: var(--color-white);

    }

.nav_logo{
    color: var(--color-secondary);
}
.nav_menu{
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 15px solid rgba(34, 85, 153, 1);
}
.nav__link{
    color: var(--color-white);

}

.show{
    right:0%;
}

.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.home__data, .home__image{
    flex: 50%;

}

.home__data-title {
    color: var(--color-white);
    font-size: 2.5rem;

}
.home__data-title span {
    font-weight: 200;

}

.home__data-desc{
    margin-top: 2rem;
    color: var(--color-white);
    line-height: 2;
}

.home__image img{
    width: 100%;
    height: auto;
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

}

.about__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
}

.about__image img{
max-width: 100%;
height: auto;
border-radius: 10px;
}
.about__tag {
    color: var(--color-primary);
    background-color: rgba(var(--color-primary-rgb),0.2);
}

.about__data-title{
    font-size: 2.5rem;
    font-weight: 200;
}

.about__data-desc{
    font-size: 0.8rem;
    padding: 10px 0 10px 0 ;
}

.about__data-quote{
    font-size:1.2rem;
    color: var(--color-grey);
    padding: 10px 0 10px 0;

}
.about__data-quote i {
    font-size: 2.5rem;
    color: --var(--color-secondary);
}

.whychooseus{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.whychooseus__tag span {
    color:var(--color-primary);
    background-color: rgba(var(--color-primary-rgb),0.2);
    margin: 0 auto;
}

.whychooseus__title{
    font-size: 2.5rem;
    font-weight: 200;
    text-align: center;
    padding-top: 1rem;

}

.whychooseus__data{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.whychooseus__card{
    box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
    padding: 30px;
    text-align: center;
}

.whychooseus__card i {
    display:inline-block;
    font-size:3rem;
    padding: 15px;
    color: var(--color-primary);
}

.whychooseus__card-title{
    font-size: 1.5rem;
    font-weight: 300;
}

.whychooseus__card-des{
    font-size:0.8rem;
    padding: 10px 0px 10px 0px;
    color:var(--color-grey)
}
.services {
    background: var(--primary-linear-gradient);
    padding: 20px;
}

.services__tag{
    background-color: rgba(255,255,255,0.2);
}
.services__title{
    font-size:2.5rem;
    font-weight: 200;
    color: var(--color-white);
    text-align: center;
}

.services__data{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.services__single{
    display: flex;
    gap: 1.5rem;
    padding: 5px;
    flex: 1 1 30%;
    align-items: center;
    margin: 10px;
}
.services__single i {
font-size: 2rem;
color: var(--color-secondary);
}
.services-desc{
    font-size: 0.8rem;
    padding: 10px 0 10px 0px;
color: var(--color-white);
}
.services__buttons{
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
}


.testimonial__tag span {
    color:--var(--color-primary);
    background-color: rgba(var(--color-primary-rgb),0.2);
    margin-left: auto;
}

.testimonial__title{
    font-size: 2.5rem;
    font-wipe:200;
    text-align: right;
}
.testimonial__data{
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.testimonial__single{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--primary-linear-gradient);
    border-radius: 10px;
    padding: 4rem 8rem;
}

.testimonial__img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: rgba(0,0,0,0.16) 0px 3px 6px,rgba(0,0,0,0.23) 0px 3px 6px;
}
.testimonial__text{
    font-size: 1.2rem;
    color: var(--color-white);
    padding: 20px 0px 20px 0px;
    text-align: center;
}

.testimonial__name{
    font-size: 1.5rem;
    font-weight: 300;
    color:var(--color-white);
}

.testimonial__company{
    font-size: 0.8rem;
    padding: 10px 0 10px 0;
    color: var(--color-white);
}

.swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swiper-button-prev,
  .swiper-button-next{
    color:var(--color-white);
    background:rgba(255,255,255,0.2);
    border-radius:50%;
    height: 40px;
    width: 40px;
  }

  .swiper-button-prev::after,
  .swiper-button-next::next{
    font-size: 1.2rem;
  }

  .swiper-pagination{
    bottom: 85px !important;
  }

  .swiper-pagination-bullet{
    background-color: var(--color-grey);
    opacity: 1;
  }

  .swiper-pagination-button-active{
    background-color: var(--color-white) !important;
  }
.contact{
    background: var(--primary-linear-gradient);

}
.contact__tag{
    color: rgba(255,255,255,0.2);
    color: var(--color-white);
    text-align: center;
}

.contact__title{
    font-size: 2.5rem;
    font-weight:200;
    color: var(--color-white);

}
.contact__form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    padding: 20px 0 ;
}

.contact__form > input:not(.btn){
height: 50px;

}

.contact__form > textarea {
    resize: none;
    padding-top: 10px;

}

.contact__form > input:not(.btn),
.contact__form>textarea{
    width: 40%;
    border: 1px solid var(--color-secondary);
    border-radius: 25px;
    outline: none;
    text-indent: 10px;
}

.contact__button-wrapper{
    display: flex;
    justify-content: flex-end;
    width: 40%;
}

.contact__btn{
    border: none;
}

.footer__container{
    padding-top: 4rem;
    padding-bottom: 4rem;

}

.footer__container,.footer__navigation,.footer__links{
    display: flex;
    justify-content: space-evenly;
    gap: 2.5rem;
    flex: 25%;
}


.footer__logo span {
    color: var(--color-secondary);
}

.footer__text{
    padding-top: 2rem;
}

.footer__navigation h2,
.footer__contact h2 {
    font-weight: 300;
    padding-bottom: 1rem;
}

.footer__links{
    flex-direction: column;
    gap: 0.5rem;
}


.footer__links > a{
    color: var(--color-black);
}

.footer__contact{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.footer__social > a {
    padding-right: 20px;
    color: var(--color-secondary);
}

.footer__copyright{
    text-align: center;
    padding: 20px 0;
    margin-top: 10px;
    border-top: 1px solid var(--color-grey);
}
.about__data {
    transform: translateY(50px); 
    opacity: 0; 
    transition: opacity 0.5s ease-in-out; 
}


@media screen and (max-width: 1024px) {}