
@import url('https://fonts.google.com/share?selection.family=Mulish:wght@200;300;400;800;900&display=swap');



:root{
    --container-width:70%;
    --color-primary:#21DADB;
    --color-primary-rgb:152,89,227;
    --color-primary-accent:#21DADB;
    --color-secondary:#35BBDF;
    --color-secondary--accent:#4D94E6;
    --color-white:#ffffff;
    --color-black:#000000;
    --color-grey:#8491a5;
    --color-grey-rgb:132,145,165;
    --primary-linear-gradient:linear-gradient(90deg,
    #21DADB,0%,
    rgba(84,42,195,1)100%);
    --secondary-linear-gradient:linear-gradient(90deg,
    rgba(225,99,151,1)0%,
    rgba(254,126,169,1)100%);

    --body-font:'mulish',sans-serif;
}
    *{
        margin:0;
        padding:0;
        box-sizing:border-box;
        font-family: var(--body-font);
    }

    html{
        scroll-behavior: smooth;
        overflow-x: hidden;

    }

    a{
        text-decoration: none;

    }
    ul{

        list-style: none;

    }

    .container{
        width: --var(--container-width);
        margin:0 auto;
    }


    section {
        padding-top: 4rem;
        padding-bottom: 4rem;

    }


    .btn{
        display: block;
        padding: 10px 30px;
        margin: 20px 0 20px 0;
        cursor: pointer;
        border-radius: 50px;
        width: fit-content;
    }

    .btn-primary{
        background: var(--primary-linear-gradient);
        color: var(--color-white);

    }

    .btn-secondary{
        background: var(--secondary-linear-gradient);
        color: var(--color-white);

    }

    .tag{
        display: block;
        padding: 3px 15px;
        margin: 20px 0 20px 0 ;
        cursor: pointer;
        border-radius: 50px;
        width: fit-content;
        color: var(--color-white);
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 600;
    }

    header{
        background: var(--primary-linear-gradient);

    }

    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5rem;
        color: var(--color-white);

    }

.nav_logo{
    color: var(--color-secondary);
}
.nav_menu{
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: flex-end;
}
.nav__link{
    color: var(--color-white);

}
/* .mb-show{
    display:none;

} */
.show{
    right:0%;
}




@media screen and (max-width: 1024px) {}